<!DOCTYPE html>

<html>
<body>
    <div>
        <h1>Welcome Back</h1>
        <br><br>
        <h3>Login Here</h3>
    </div>

    <div id="form-body">
        <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
            
                <label for="username">Email: </label>
                <input
                    required
                    type="text"
                    name="username"
                    [(ngModel)]="form.username"
                    #username="ngModel">

                <br><br>
    
                <label for="password">Password: </label>
                <input 
                    type="password"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                    #password="ngModel">

                <br><br><br>

                <a href=" "><button type="button">Submit</button></a>
        </form>
    </div>
</body>
</html>