################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DatuLE2+3+4/DatuBlogDB/DatuBlogDB.jfm
/DatuLE2+3+4/DatuBlogDB/DatuBlogDB.dbmdl
