body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  h1 {
    font-size: 40px;
    color: #a52a2a;
  }
  
  h3 {
    font-size: 24px;
    font-style: oblique;
    color: #8b4513;
  }
  
  label{
    font-size: 16px;
    font-weight: bold;
    color: #a0522d;
  }

  #form-body{
    border: 2px dotted #deb887; 
    margin: 30px;
    padding: 30px;
    text-align: center;
  }

  input {
    border: 1px solid #deb887;
  }

  input:focus {
    border-left: 6px solid #deb887;
    background-color: #fff8dc;
  }

  button {
    font-size: 14px;
    border: 1px solid #8b4513;
    border-radius: 10px;
    background-color: #deb887;
    color: #a52a2a;
    padding: 5px;
    margin: 10px;
  }

  button:hover {
    background-color: #fff8dc;
    font-weight: bold;
  }