<!DOCTYPE html>

<html>
<body>
        <form name = "form" id="form-body" (ngSubmit)="onSubmit()" #f="ngForm">
    
        <label for="username">Username: </label>
        <input
            type="text"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel" />

        <br><br>
        
        <label for="password">Password:  </label>
        <input 
            type="text"
            name="password"
            [(ngModel)]="form.password"
            required
            #password="ngModel"/>

        <br><br>
                
        <label for="firstName">First Name: </label>
        <input    
            type="text"
            name="firstName"
            [(ngModel)]="form.firstName"
            required
            #password="ngModel"/>        
            
        <br><br>

        <label for="lastName">Last Name:  </label>
        <input 
            type="lastName"
            name="lastName"
            [(ngModel)]="form.lastName"
            required
            #password="ngModel"/>
        
        <br><br>

            <a href="/login-page"><button type="button">Submit</button></a>
    </form>
</body>
</html>